* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 1em;
  justify-content: flex-start;
}

.left-part {
  background-color: red;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.photo {
  background-color: brown;
  flex-grow: 1;
}

.contact-info {
  background-color: cadetblue;
  flex-grow: 2;
}

.skills {
  background-color: red;
  flex-grow: 3;
}

.right-part {
  background-color: red;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.full-name-position {
  background-color: green;
  flex-grow: 1;
}

.working-exp {
  background-color: blue;
  flex-grow: 2;
}

.education {
  background-color: chocolate;
  flex-grow: 2;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

i {
  color: rgb(16, 188, 240);
}

hr {
  color: rgb(16, 188, 240);
}
