* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 1rem;
  justify-content: flex-start;
  border: 0.5rem solid rgb(75, 75, 75);
}

.left-part {
  background-color: rgb(75, 75, 75);
  color: white;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  padding: 1.5rem 2rem;
}

.photo {
  background-color: rgb(75, 75, 75);
  flex-grow: 1;
  /*padding-top: 2em;
  padding-left: 5em;*/
}

.photo__img {
  /*width: 30%;*/
  border-radius: 50%;
  border: 0.3rem solid white;
}

.contact-info {
  background-color: rgb(75, 75, 75);
  flex-grow: 2;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.skills {
  background-color: red;
  flex-grow: 3;
}

.right-part {
  color: white;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.full-name {
  background-color: white;
  color: black;
  flex-grow: 1;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.working-exp {
  background-color: blue;
  color: black;
  font-size: 5rem;
}

.organization-duties {
  color: black;
  font-size: 1.5rem;
  display: flex;
}

.organization {
  background-color: brown;
  flex-basis: 20%;
  padding: 0.5rem 0;
}

.duties {
  background-color: green;
  flex-basis: 80%;
  padding: 0.5rem;
}

.education {
  background-color: chocolate;
  flex-grow: 2;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul.no-bullets > li {
  padding: 0.1rem;
}

.contact-info > i {
  color: white;
}

.working-exp > i {
  color: black;
}

hr {
  color: white;
}
