// COLOR VARIABLES
$color-dark: #030303;
$color-dark-red: #710707;
$color-gold: #9d8665;
$color-light: #ffffff;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Forum", sans-serif;

$desktop-width: 1920px;
$tablet-landscape-width: 1024px;
$tablet-portrait-width: 768px;
$mobile-width: 420px;
$mobile-small-width: 320px;

$desktop-content-width: 1440px;
