// COLOR VARIABLES
$color-header: rgba(17, 72, 197, 0.03);
$color-blue: #1148c5;

// FONT VARIABLES
$font-primary: "Inter", sans-serif;

$desktop-width: 1920px;
$tablet-landscape-width: 1024px;
$tablet-portrait-width: 768px;
$mobile-width: 420px;
$mobile-small-width: 320px;

$desktop-content-width: 1440px;
$content-width: 1120px;
