.education {
  background: $color-grey;
  padding: 20px 0 20px 0;
}

.education__wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 40px;
  row-gap: 20px;
}

.education__heading {
  margin-left: 340px;
  margin-bottom: 20px;
}

.education__list {
  list-style: none;
}

.education__date {
  margin-top: 10px;
  color: $color-dark-grey;
}

.education__title {
  margin-bottom: 10px;
}

.education__description {
  margin-bottom: 10px;
  color: $color-dark-grey;
}

.eduction__mode {
  margin-left: 20px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .education {
    padding: 20px;
  }

  .education__wrapper {
    grid-template-columns: 300px 660px;
    column-gap: 20px;
    row-gap: 20px;
  }

  .education__heading {
    margin-left: 320px;
  }
}

@media (max-width: 768px) {
  .education {
    padding: 20px;
  }

  .education__wrapper {
    display: block;
  }

  .education__heading {
    margin-left: 0px;
  }

  .education__date {
    margin-bottom: 30px;
  }
}
