*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.page-wrapper {
  min-width: 320px;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
