.heading-1 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  color: $color-blue;
}

.heading-2 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
}

.heading-3 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;

  &_blue {
    color: $color-blue;
  }
}
