.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
